{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load call_method %}
{% block title %}Компания{% endblock title %}
{% block header %}Компания{% endblock header %}

{% block content %}
<h1>Компания</h1>
<h2>{{ company.name }}</h2>
<p>{{ company.description }}</p>

<p>Сотрудники: {{ company.recruiter_link_set.count }}</p>
{% call_method_json company.recruiter_link_set 'filter' '{"show_in_company_list":true}' as users %}
{% for user in users %}
{{ user }}<br>
{% endfor %}
{% endblock content %}