{% load django_bootstrap5 %}
<nav class="navbar navbar-expand-lg bd-navbar sticky-top bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">HR Game</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Профиль</a>
                </li>

                {% if user.role == 1 %}
                    <li class="nav-item">
                        <a class="nav-link" href="/path">Маршрут</a>
                    </li>
                {% elif user.role == 2 %}
                    <li class="nav-item">
                        <a class="nav-link" href="/requests">Заявки</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Тесты
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/minitest">Список тестов</a></li>
                        <li><a class="dropdown-item" href="/minitest_create">Создание теста</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Вход</a>
                </li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <form method="post" class="d-flex align-items-center justify-content-end" action="{% url "logout" %}">
                {% csrf_token %}
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" alt="avatar" class="rounded-circle me-3" style="width: 2.5em; height: 2.5em; object-fit: cover; object-position: center;" />
                {% else %}
                    <img src="" alt="avatar" class="rounded-circle me-3" style="width: 2.5em; height: 2.5em; object-fit: cover; object-position: center;" />
                {% endif %}
                {% bootstrap_button button_type="submit" content="Выход" size="sm" color="danger" %}
            </form>
        {% endif %}
        </div>
    </div>
</nav>