{% load django_bootstrap5 %}
<nav class="navbar navbar-expand-lg bd-navbar sticky-top bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">HR Game</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Вакансии
                </div>
                <ul class="dropdown-menu">
                    <li><a class="nav-link dropdown-item" href="{% url 'vacancy_list_open' %}">Открытые вакансии</a></li>
                    <li><a class="nav-link dropdown-item" href="{% url 'vacancy_list' %}">Все вакансии</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'company_list' %}">Компании</a>
            </li>
            
            {% if user.is_authenticated %}
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="/profile">Профиль</a>
                    <a class="nav-link" href="/profile/resume">Резюме</a>
                </li> {% endcomment %}
                <li class="nav-item dropdown">

                    <div class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Профиль
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Моя страница</a></li>
                        {% if user.role == 1 %}
                            <li><a class="dropdown-item" href="{% url 'resume_list' %}">Резюме</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'profile_edit' %}">Редактирование</a></li>
                    </ul>
                </li>
                {% if user.role == 1 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'path' %}">Маршрут</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vacancy_request_list' %}">Заявки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'minitest_list' %}">Тесты</a>
                </li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Вход</a>
                </li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <form method="post" class="d-flex align-items-center justify-content-end" action="{% url "logout" %}">
                {% csrf_token %}
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" alt="avatar" class="rounded-circle me-3" style="width: 2.5em; height: 2.5em; object-fit: cover; object-position: center;" />
                {% else %}
                    <img src="" alt="avatar" class="rounded-circle me-3" style="width: 2.5em; height: 2.5em; object-fit: cover; object-position: center;" />
                {% endif %}
                {% bootstrap_button button_type="submit" content="Выход" size="sm" color="danger" %}
            </form>
        {% endif %}
        </div>
    </div>
</nav>