{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Добро пожаловать{% endblock title %}
{% block header %}Профиль{% endblock header %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.role == 0 %}
        {% comment %} Предложить выбрать тип профиля и сохранить {% endcomment %}
        {% comment %} Используется после регистрации пользователя {% endcomment %}
        Выберите роль профиля
        <form id="choiceForm" method="post">
            {% csrf_token %}
            {% bootstrap_button button_type="submit" name="role" value="1" content="Соискатель" %}
            {% bootstrap_button button_type="submit" name="role" value="2" content="Рекрутер" %}
          </form>
    {% else %}
        {% comment %} Просмотр профиля {% endcomment %}
        {% include 'profile_info_block.html' with user_info=user_seen ownable=ownable minitest_results=minitest_results %}
    {% endif %}
{% endif %}
{% endblock content %}