{% extends "base.html" %}

{% block title %}Вакансия {{ vacancy.title }}{% endblock title %}
{% block header %}Вакансия {{ vacancy.title }}{% endblock header %}

{% block content %}

<h1>{{ vacancy.title }}</h1>

<p>
    {% if vacancy.is_open %}
        <span class="badge bg-success">Вакансия открыта</span>
    {% else %}
        <span class="badge bg-danger">Вакансия закрыта</span>
    {% endif %}
</p>
{% if user.role == 1 %}
    {% if vacancy.is_open %}
    {% if active_request_id %}
    <p>
        <button class="btn btn-primary" onclick="location.href='{% url 'vacancy_request_edit' active_request_id %}'">Редактировать заявку</button>
    </p>
    {% else %}
    <p>
        <button class="btn btn-primary" onclick="location.href='{% url 'vacancy_request_create' vacancy.id %}'">Оставить отклик</button>
    </p>
    {% endif %}
    {% endif %}
{% endif %}
{% if can_edit %}
    <p>
        <button class="btn btn-primary" onclick="location.href='{% url 'vacancy_edit' vacancy.id %}'">Редактировать</button>
    </p>
{% endif %}

<a href="{% url 'vacancy_list' %}">Назад к списку вакансий</a>

{% endblock content %}